@use 'styles/variables' as *;

html,
body {
  @include body2;
  font-family: $font-default;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $ui_primary40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
}

// Table of Contents by WordPress Plugin
#ez-toc-container {
  background: #f8f8fa;
  border-radius: 4px;
  padding: 32px 8px;
  margin: 56px auto;
}
