@use 'styles/variables' as *;

.root {
  @include responsive(md) {
    display: flex;
    align-items: flex-start;
  }

  > ul {
    list-style: none;
    padding: 0;
    > li {
      margin-bottom: 24px;
    }
  }
}
