@use 'styles/variables' as *;

.root {
  > h1 {
    @include headline3;
  }

  > ul {
    list-style: none;
    padding: 0;

    > .article-list {
      display: block;
      border-bottom: solid 1px $border_black;
      padding-bottom: 16px;
      margin-bottom: 16px;

      a {
        color: inherit;
        display: block;
        &:hover {
          text-decoration: none;
          opacity: 0.6;
        }
      }
      h2 {
        @include headline6;
        color: $ui_primary40;
      }
      div {
        @include body2;
      }
      time {
        @include body2;
      }
    }
  }
}
