@use 'styles/variables' as *;

.root {
  @include responsive(md) {
    display: flex;
    align-items: flex-start;
  }

  > ul {
    list-style: none;
    padding: 0;
    > li {
      margin-bottom: 24px;
    }
  }

  > nav {
    margin-top: 56px;
    @include responsive(md) {
      margin-top: 0;
      margin-left: 40px;
      flex-shrink: 0;
      position: sticky;
      top: 40px;
    }

    > h1 {
      @include headline6;
      margin-top: 0;
    }

    > ul {
      list-style: none;
      padding: 0;

      > .category-list {
        display: block;

        a {
          display: flex;
          align-items: center;
          padding: 12px 0;
          > h2 {
            @include subtitle1;
            margin: 0 8px 0 0;
          }
          > .count {
            display: flex;
            align-items: center;
            color: $text_black60;
            > svg {
              width: 16px;
              height: 16px;
              margin-right: 4px;
            }
            > p {
              @include caption;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
