@use 'styles/variables' as *;

.root {
  h1 {
    @include headline3;
  }
}

.article-body {
  @include article_body1;
  margin: 56px auto;

  p {
    margin: 0 auto 32px auto;
  }

  a {
    word-break: break-all;
  }

  h2 {
    @include headline4;
    margin: 96px auto 32px auto;
  }

  h3 {
    @include headline5;
    margin: 64px auto 32px auto;
  }

  h4 {
    @include headline6;
    margin: 56px auto 32px auto;
  }

  figure {
    margin: 40px auto;
    padding: 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    &::before {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: solid 1px $border_black;
      border-radius: 4px;
    }
  }

  pre {
    margin: 40px auto;
    position: relative;
    > code {
      @include article_code;
      padding: 24px;
      border-radius: 4px;
      &[lang] {
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          right: 16px;
          font-size: 12px;
          opacity: 0.4;
        }
      }
      &[lang='typescript'] {
        &::before {
          content: 'TypeScript';
        }
      }
      &[lang='bash'] {
        &::before {
          content: 'Bash';
        }
      }
      &[lang='javascrip'] {
        &::before {
          content: 'JavaScript';
        }
      }
      &[lang='html'] {
        &::before {
          content: 'HTML';
        }
      }
      &[lang='css'] {
        &::before {
          content: 'CSS';
        }
      }
      &[lang='sass'] {
        &::before {
          content: 'Sass';
        }
      }
      &[lang='json'] {
        &::before {
          content: 'JSON';
        }
      }
      &[lang='php'] {
        &::before {
          content: 'PHP';
        }
      }
      &[lang='jsx'] {
        &::before {
          content: 'JSX';
        }
      }
    }
  }
}
