@use 'styles/variables' as *;

.card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border: solid 1px $border_black;
  border-radius: 4px;
  padding: 12px;

  > img {
    width: 88px;
    height: auto;
    margin-left: 12px;
    flex-shrink: 1;
    object-fit: contain;
  }

  > span {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: calc(100% - 88px - 12px);
  }

  .title {
    @include subtitle1;
    display: block;
    margin-bottom: 8px;
  }
  .desc {
    @include caption;
    color: $text_black60;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .url {
    @include small;
    color: $text_black60;
    display: block;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include responsive(sm) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 16px 20px;

    > img {
      width: 168px;
      margin-left: 24px;
    }

    > span {
      width: auto;
      min-width: calc(100% - 168px - 24px);
    }

    .title {
      font-size: 17px;
      margin-bottom: 8px;
    }

    .desc {
      @include body2;
    }

    .url {
      @include caption;
    }
  }
}
